/*GENERAL STYLES */

body {
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}
p {
    line-height: 28px;
    margin-bottom: 25px;
}
hr {
    position: relative;
    border: none;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

hr:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #ccc;
}

.centered {
    text-align: center;
}
.white h1 {
    padding-top: 35px;
}

.white p {
    padding-top: 25px;
}

.section-divider {
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 450px;
    border-bottom: 2px solid #E6EAED;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: 45px;


    background-position: center center;


    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.section-divider h1 {
    padding-top: 70px;
    color: white;
    font-size: 40px;
}

.section-divider p {
    color: white;
    font-size: 25px;
}


/* HEADER */

.header_content {
    margin-top: -50px;
    padding-top:120px;
    text-align:center;
    min-height: 650px;
    width: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background:url('../img/header_bg.jpg') no-repeat center top; background-size: cover;
}

.header_content h1 {
    color:#ffffff;
    margin-top: 90px;
    padding-bottom: 30px;
    letter-spacing: 8px;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}

.header_content p {
    color:#ffffff;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    letter-spacing: 3px;
    margin-left: 15px;
    text-shadow: 1px 1px 1px #000;
}
/* FEATURES SECTION */
.features_content {
    background: #f5f5f5;
    margin-top: 0;
    padding-top: 40px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.features_content .callout {
    margin-bottom: 20px;
}

.features_content p {
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.features_content .icon {
    font-size: 60px;
    line-height: 30px;
    margin-bottom: 10px;
}
/* FIRST DIVIDER SECTION */
.first_divider {
    background:url('../img/bg/divider1.jpg');
}
